#container {
    border: 1px solid #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 960px;
}

#ctx, #loginForm {
    border-bottom: 1px solid #000;
}
#loginForm {
    padding: 7px;
}
#registerButton {
    float: right;
}

#messageText {
    width: 90%;
    height: 30px;
    margin: 9px;
    padding: 5px;
}

#sendMessage {
    width: 6%;
}

.textCenter {
    text-align: center;
}

.avatarHover {
    width: 48px;
    height: 64px;
}
.hidden {
    display: none;
}
