#container {
    border: 1px solid #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 960px;
}

#ctx, #loginForm {
    border-bottom: 1px solid #000;
}
#loginForm {
    padding: 7px;
}
#registerButton {
    float: right;
}

#messageContainer {
    height: 55px;
}
#messageText {
    float: left;
    height: 50%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-top: 1%;
    padding: 1px;
    width: 88%;
}
#sendContainer {
    float: right;
    height: 50%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 1px;
    text-align: center;
    width: 10%;
}
#sendMessage {
    width: 50%;
}

.textCenter {
    text-align: center;
}

.avatarHover {
    width: 48px;
    height: 64px;
}
.hidden {
    display: none;
}
